body {
  font-family: 'Work Sans', sans-serif;
}

a {
  color: #4d9293;
}

.header {
  height: 500px;
  background-position: 0% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin-bottom: 20rem;
}

.header > .row, 
.header .about-me-wrap {
  height: 100%;
}

.about-me-desc {
    background: #fff;
    position: absolute;
    left: auto;
    bottom: -100px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 100px 6px;
    font-size: large;
    padding: 5rem;
    max-width: 460px;
    border-radius: 5px;

}

.about-me-desc .about-me-details {
    display: none;
  }

.btn-default, 
.btn-default:visited {
    color: white;
    background: #4d9293;
    margin: 3rem;
    border: 1px solid white;
    text-transform: uppercase;
    padding: 1rem;
    max-width: 260px;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    letter-spacing: 2px;
}

.btn-default:hover {
  background: transparent;
  color: #4d9293;
  border: 1px solid #4d9293; 
}

.summary {
  margin-bottom: 4rem;
}

.summary-row {
  position: relative;
}

.summary-wrapper {
  background: #e7ebeb;

}

.textbox {
  padding-bottom: 15px;
}

.profile-image {
  height: 350px;
  background-position: 50% 35%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

@media screen and (min-width: 768px) {

  .summary-wrapper {
    height: 500px;
  }

  .profile-image {
    height: 500px;
    background-position: 50% 50%;
  }
}

.work-wrapper {
    position: relative;
    height: 350px;
    padding: 0;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 5px;
    box-shadow: 1px 6px 6px 0 #ddd;
    margin-bottom: 30px;
}

.work-wrapper a {
  display: inline-block;
  height: 100%;
  width: 100%;
}


.work-title {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 4rem;
  opacity: .85;
}

.main-content h1, 
.main-content h2 {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 5rem;
}

.work-title {
  color: #333;
  font-size: large;
}

@media only screen and (min-width: 992px) {
  .main-content {
    padding: 0rem;
  }

  .work-title {
    display: none;
  }

  .about-me-desc .about-me-details {
    display: inline;
  }
}

.media-display {
  margin-bottom: 10rem;
}

.media-display iframe,
.media-display img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
  min-height: 315px;
}

.footer {
  background: #e7ebeb;
  padding: 5rem;
}

.footer a {
  font-size: 48px;
}

.social a:hover {
  text-decoration: none;
  color: #326061;
  box-shadow: 1px 6px 6px 0 #ddd;

}

.back-to-top {
    color: #fff;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 5rem;
    bottom: 6rem;
    text-align: center;
}

.back-to-top span{
    display: inline-block;
    font-size: 5rem;
    line-height: 2rem;
    vertical-align: middle;
    color: #4d9293;
}

.mainimg_wrap {
  position: relative;
  overflow: hidden;
}

.in_dev {
    position: absolute;
    bottom: 43%;
    background: red;
    opacity: .5;
    color: white;
    width: 130%;
    text-align: center;
    transform: translatex(-3em) rotate(-29deg);
    padding: 1em;
    text-transform: uppercase;
    font-size: 1.25em;
}

.fade-in {
  opacity: 0;
}